
/*Reset*/

body, h1, h2, ul {
	padding: 0px;
	margin: 0px;

}

body {
	font-family: "Raleway";
}

* {
	box-sizing: border-box;
}

/*Menu*/

.header {
	background-image: url('images/overlay.png'), url('images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-transform: uppercase;	
	min-height: 700px;
}

.header h1 strong a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.header h1  {
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
}

.menu_container {
	max-width: 1280px;
	padding: 56px;
}

.clearfix::after, .clearfix::before {
	content: '';
	display: table;
	clear: both;
}

.menu_nav {
	float: right;
}

.menu_nav li {
	display: inline-block;
}

.menu_nav li a {
	display: block;
	padding: 0 25px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

/*INTRO*/

.intro {
	padding: 0px;
	text-align: center;
	color: #fff;
	margin: 150px;
}

.intro h2 {
	text-transform: uppercase;
	font-size: 50px;
	margin: 0;
}

.intro p {
	color: #aaa;
	font-size: 20px;
	line-height: 38px;
	max-width: 540px;
	margin: 20px auto 40px;
}

.intro_btn {
	width: 200px;
	border: 3px solid;
	border-color:#f32853;
	background-color: #f32853;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0;
	margin:	0 auto;
	letter-spacing: 1px;
}


.intro_btn:hover {
	border-color: #F44066;
	background-color: #F44066;
}

/*SOBRE*/

.sobre {
	padding: 80px;
}

.sobre_container {
	max-width: 900px;
	margin: 0 auto;
}

.sobre h2 {
	text-transform: uppercase;
	color: #484848;
	font-size: 2.5em;
	font-weight: bold;
	max-width: 350px;
	line-height: 1.5em;
	margin-top: 5px; 
}

.sobre_esquerda p {
 color: rgb(170, 170, 170);
 font-size: 24.933px;
}

.sobre_direita {
	margin-bottom: 20px;
	color: rgb(102, 102, 102);
	font-size: 15px;
	line-height: 29.333px;
}

.sobre_direita2 {
	margin-top: 25px;
}

/*PORTFOLIO*/

.portfolio_container {
	background-color: #f6f6f6;
	padding: 80px;
	margin: 0 auto;
}

.principal h2 {
	font-size: 2.7em;
	text-align: center;
	color: #484848;
}

.principal p {
	font-size: 1.5em;
	text-align: center;
	color: #aaa;
	padding-bottom: 55px;
}

.images li {
	background-color: #fff;
}

.images1 h3 {
	color: rgb(72, 72, 72);
	text-align: center;
	padding: 40px;
	font-size: 19.5px;
	box-shadow: 0px 0.0375em 0.125em 0px rgb(0 0 0 / 18%);
	margin: 0 auto;
}

.images2 h3 {
	color: rgb(72, 72, 72);
	text-align: center;
	padding: 40px;
	font-size: 19.5px;
	box-shadow: 0px 0.0375em 0.125em 0px rgb(0 0 0 / 18%);
	margin: 0 auto;
}

.portfolio-btn1	{
	width: 200px;
	border: 3px solid;
	border-color:#f32853;
	background-color: #f32853;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0;
	margin:	60px 14px 5px 380px;
	letter-spacing: 1px;
	float: left;
}

.portfolio_btn1:hover {
	border-color: #F44066;
	background-color: #F44066;
}

.portfolio-btn2	{
	width: 200px;
	border: 3px solid;
	border-color:rgb(50, 48, 55);
	background-color: rgb(50, 48, 55);
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0;
	margin:	60px 380px 5px 14px;
	letter-spacing: 1px;
	float: right;
}

/*PRODUTOS*/

.produtos {
	max-width: 1260px;
	margin: 0 auto;
}

.produtos_header {
	margin-bottom: 90px;
}

.produtos h2 {
	font-size: 2.7em;
	color: #484848;
}

.produtos p {
	font-size: 1.5em;
	color: #aaa;
}

.thumbnail {
	float: right;
	margin: 0 auto; 
}

.thumbnail img {
	border-radius: 50%;
	border: 8px solid rgba(144, 144, 144, 0.25); 
	max-width: 175px;
}

.direita .thumbnail {
	float: left;
}

.descricao {
	max-width: 70%;
  display: inline-block;
}

.esquerda .descricao {
	text-align: right;
}

.direita .descricao {
	float: right;
}

.descricao h3 {
	font-size: 16px;
  line-height: 24px;
  color: #484848;
}

.descricao h4 {
	font-size: 13px;
  line-height: 20px;
  color: #aaa;
  font-weight: normal;
}

.descricao p {
	color: rgb(102, 102, 102);
	font-size: 14px;
	line-height: 29px;
}

